<html>
<head>
</head>
<body>
<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
</style>
{% if searches %}
	<h1>Flights</h1>
	<table>
		<th>Flight Number</th>
		<th>Departure Time</th>
		<th>Tickets</th>

	{% for line in searches %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['departure_date_and_time']}}</td>
			<td><button type = 'button'>Available</button></td>

		</tr>
	{% endfor %}
	</table>
{% endif %}

<a href ='/home_customer'>Go Back</a>

<a href="/logout">Logout</a>

</body>


</html>