<html>
<head>
	<link rel="stylesheet" href="./style.css" />
</head>
<body>
<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
	.hide {
    display: none;
	}
</style>
{% if departure_searches %}
	<h1>Departure Flights</h1>
	<table>
		<th>Flight Number</th>
		<th>Departure Time</th>
		<th>Tickets</th>

	{% for line in departure_searches %}
		<tr>
			<form action='/purchase_ticket_C' method = 'POST'>
				<input class = 'hide' name= "flight_num" type = "text" value = "{{line['flight_num']}}" readonly>
				<td>{{line['flight_num']}}</td>
				<input class = 'hide' name= "departure_date_and_time" type = "text" value = "{{line['departure_date_and_time']}}" readonly>
				<td>{{line['departure_date_and_time']}}</td>
				<td><button type = 'submit'>Available</button></td>
			</form>
		</tr>
	{% endfor %}
	</table>
{% endif %}

{% if return_searches %}
	<h1>Return Flights</h1>
	<table>
		<th>Flight Number</th>
		<th>Departure Time</th>
		<th>Tickets</th>

	{% for line in return_searches %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['departure_date_and_time']}}</td>
			<td><button type = 'button'>Available</button></td>

		</tr>
	{% endfor %}
	</table>
{% endif %}

<a href ='/home_customer'>Go Back</a>

<a href="/logout">Logout</a>

</body>


</html>