<html>
<head>
</head>
<body style="background-color:rgb(245, 213, 109);  text-align:left">
<h2>Welcome {{username}}</h2>
<a href='/add_phone_number_staff'>Add new phone number</a> </br> </br>

<a href='/create_flight_page'>Create new Flight </a> </br>
<a href='/create_airplane_page'>Create new Airplane </a> </br>
<a href='/create_airport_page'>Create new Airport </a> </br>

<h2>Search for available flights from ALL AIRLINES</h2>
<form action="/search_flights_AS" method="POST">
	<label>Departure Airline/City</label>
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<label>Arrival Airline/City</label>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>
	<label>Departure Date</label>
	<input type="date" name = "departure_date" placeholder="departure date" required/> </br>
	<label>Return Date</label>
	<input type="date" name = "return_date" placeholder="return date"/> 
	<label>optional (for round trips)</label></br>
	<input type="submit" value = Search />
</form>

<h2>Search for flight statuses</h2>
<form action="/search_status_AS" method="POST">
	<label>Airline</label>
	<input type="text" name = "airline_name" placeholder="China Eastern" required/> </br>
	<label>Flight Number</label>
	<input type="text" name = "flight_num" placeholder="A1234567" required/> </br>
	<label>Departure Date</label>
	<input type="datetime-local" name = "departure_date" placeholder="departure date" /> </br>
	<label>Arrival Date</label>
	<input type="datetime-local" name = "arrival_date" placeholder="arrival date" /> </br>
	<input type="submit" value = Search />
</form>
<br>

<h2>Search for future {{name}} flights</h2>
<form action="/search_airline_flights_AS" method="POST">
	<label>Departure Airline/City</label>
	<input type="text" name = "departure_place" placeholder="departure point" required/> </br>
	<label>Arrival Airline/City</label>
	<input type="text" name = "arrival_place" placeholder="arrival destination" required/> </br>
	<label>Departure Date</label>
	<input type="date" name = "begin" placeholder="Begin" required/> </br>
	<label>Arrival Date</label>
	<input type="date" name = "end" placeholder="End" required/></br>
	<input type="submit" value = Search />
</form>

{% if airline_flights %}
	<h4>Future flights in the {{range_custom}}</h4>
	<table>
		<th>Flight Number</th>
		<th>Customers</th>
		<th>Ratings</th>

	{% for line in airline_flights %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<form action='search_customers_of_flight' method = "POST">
				<input class = 'hide' name = "flight_num" type = 'text' value = "{{line['flight_num']}}" readonly>
				<input class = 'hide' name = "departure_date_and_time" type = 'text' value = "{{line['departure_date_and_time']}}" readonly>
				<td><button type = "submit">View Customers</button></td>
			</form>
			<form action='search_ratings_of_flight' method = "POST">
				<input class = 'hide' name = "flight_num" type = 'text' value = "{{line['flight_num']}}" readonly>
				<input class = 'hide' name = "departure_date_and_time" type = 'text' value = "{{line['departure_date_and_time']}}" readonly>
				<td><button type = "submit">View Ratings</button></td>
			</form>
		</tr>
	{% endfor %}
	</table>
{% endif %}

<h3>All Booking Agents</h3> 
<table>
	<th>Booking Agent Email</th>

{% for line in booking_agents1 %}
	<tr>
		<td>{{line['email']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top Five Booking Agents in the Past Month (TICKETS SOLD)</h3> 
<table>
	<th>Booking Agent Email</th>
	<th>Booking Agent ID</th>
	<th>Tickets Sold</th>

{% for line in booking_agents2 %}
	<tr>
		<td>{{line['b_email']}}</td>
		<td>{{line['booking_agent_ID']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top Five Booking Agents in the Past Year (TICKETS SOLD)</h3> 
<table>
	<th>Booking Agent Email</th>
	<th>Booking Agent ID</th>
	<th>Tickets Sold</th>

{% for line in booking_agents3 %}
	<tr>
		<td>{{line['b_email']}}</td>
		<td>{{line['booking_agent_ID']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top Five Booking Agents in the Past Year (COMMISSION)</h3> 
<table>
	<th>Booking Agent Email</th>
	<th>Booking Agent ID</th>
	<th>Commission</th>

{% for line in booking_agents4 %}
	<tr>
		<td>{{line['b_email']}}</td>
		<td>{{line['booking_agent_ID']}}</td>
		<td>{{line['profit']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top 3 Destinations in the Past Three Months</h3> 
<table>
	<th>Airport Name</th>
	<th>Ticket Sales</th>

{% for line in top_destinations_month %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top 3 Destinations in the Past Year</h3> 
<table>
	<th>Airport Name</th>
	<th>Ticket Sales</th>

{% for line in top_destinations_year %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>



<h3>Most Frequent Customer:</h3>
<table>
	<th>Customer Email</th>
	<th>Ticket Sales</th>

{% for line in freq_customer %}
	<tr>
		<td>{{line['c_email']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>

<h2>Search for Customers' Purchases</h2>
<form action="/search_customer_purchases" method="POST">
	<label>Customer's Email</label>
	<input type="text" name = "c_email" placeholder="xxxxxx@gmail.com" required/> </br>
	<input type="submit" value = Search />
</form>

<h2>Display Ticket Sales</h2>
<form action="/search_tickets_sold_bar_graph_AS" method="POST">
	<label>Begin Date</label>
	<input type="datetime-local" name = "begin" placeholder="YYYY-MM-DD" required/> </br>
	<label>End Date</label>
	<input type="datetime-local" name = "end" placeholder="YYYY-MM-DD" required/>  </br>
	<input type="submit" value = Search />
</form>

<h3>Tickets Sold from  {{begin}} to  {{end}}</h3>
<h4>Total ticket sales: {{total}}</h4>
<script src='https:cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

<canvas id="chart" width="600" height="250"></canvas>
	<script>
		//bar chart data
		var barData = {
			labels : [{% for item in labels %}
				"{{item}}",
				{% endfor %}],
			datasets: [{
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1",
				pointColor: "rgba(151,187,205,1)",
				data: [ {% for item in values %}
					"{{item}}",
					{% endfor %}]
			}]
		}
	// get bar chart canvas
	var mychart = document.getElementById("chart").getContext("2d");
	steps = 5
	max = {{max}}

	//draw bar chart 
	new Chart(mychart).Bar(barData, {
		scaleOverride: true,
		scaleSteps: steps,
		scaleStepWidth: Math.ceil(max/steps),
		scaleStartValue: 0,
		scaleShowVerticalLines: true,
		scaleShowGrideLines: true,
		barShowStroke: true,
		scakeShowLabels: true
	}
	);

</script>

<h3>Direct Versus Indirect Revenue from Past Month</h3>
<h4>Total ticket sales: {{pie_total}}</h4>
<script src='https:cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<canvas id="chart1" width="600" height="400"></canvas>
	<script>
		//pie chart data
		var pieData = [
			{% for pie_labels, pie_values, colors in set %}
				{
					value: {{pie_values}},
					label: "{{pie_labels}}",
					color: "{{colors}}"
				},
			{% endfor %}
		];
	// get pie chart canvas
	var mychart = document.getElementById("chart1").getContext("2d");
	steps = 10
	max = {{max}}

	//draw pie chart
	new Chart(document.getElementById("chart1").getContext("2d")).Pie(pieData);

</script>

<h3>Direct Versus Indirect Revenue from Past Year</h3>
<h4>Total ticket sales: {{pie_total2}}</h4>
<script src='https:cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>
<canvas id="chart2" width="600" height="400"></canvas>
	<script>
		//pie chart data
		var pieData = [
			{% for pie_labels, pie_values2, colors in set2 %}
				{
					value: {{pie_values2}},
					label: "{{pie_labels}}",
					color: "{{colors}}"
				},
			{% endfor %}
		];
	// get pie chart canvas
	var mychart = document.getElementById("chart2").getContext("2d");
	steps = 10
	max = {{max}}

	//draw pie chart
	new Chart(document.getElementById("chart2").getContext("2d")).Pie(pieData);

</script>

<a href="/logout">Logout</a>

</body>

<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
	.hide {
		display : none;
	}
</style>

</html>