<html>
<head>
</head>
<body>
<h2>Welcome {{username}}</h2>

<a href='/create_flight_page'>Create new Flight </a> </br>
<a href='/create_airplane_page'>Create new Airplane </a> </br>
<a href='/create_airport_page'>Create new Airport </a> </br>

<h2>Search for available flights</h2>
<form action="/search_flights_AS" method="POST">
	<label>Departure Airline/City</label>
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<label>Arrival Airline/City</label>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>
	<label>Departure Date</label>
	<input type="date" name = "departure_date" placeholder="departure date" required/> </br>
	<label>Return Date</label>
	<input type="date" name = "return_date" placeholder="return date"/> 
	<label>optional (for round trips)</label></br>
	<input type="submit" value = Search />
</form>

<h2>Search for flight statuses</h2>
<form action="/search_status_AS" method="POST">
	<label>Airline</label>
	<input type="text" name = "airline_name" placeholder="China Eastern" required/> </br>
	<label>Flight Number</label>
	<input type="text" name = "flight_num" placeholder="A1234567" required/> </br>
	<label>Departure Date</label>
	<input type="datetime-local" name = "departure_date" placeholder="departure date" /> </br>
	<label>Arrival Date</label>
	<input type="datetime-local" name = "arrival_date" placeholder="arrival date" /> </br>
	<input type="submit" value = Search />
</form>
<br>

<h3>All Booking Agents</h3> 
<table>
	<th>Booking Agent Email</th>

{% for line in booking_agents1 %}
	<tr>
		<td>{{line['email']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top Five Booking Agents in the Past Month (TICKETS SOLD)</h3> 
<table>
	<th>Booking Agent Email</th>
	<th>Booking Agent ID</th>
	<th>Tickets Sold</th>

{% for line in booking_agents2 %}
	<tr>
		<td>{{line['b_email']}}</td>
		<td>{{line['booking_agent_ID']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top Five Booking Agents in the Past Year (TICKETS SOLD)</h3> 
<table>
	<th>Booking Agent Email</th>
	<th>Booking Agent ID</th>
	<th>Tickets Sold</th>

{% for line in booking_agents3 %}
	<tr>
		<td>{{line['b_email']}}</td>
		<td>{{line['booking_agent_ID']}}</td>
		<td>{{line['tickets']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Top Five Booking Agents in the Past Year (COMMISSION)</h3> 
<table>
	<th>Booking Agent Email</th>
	<th>Booking Agent ID</th>
	<th>Commission</th>

{% for line in booking_agents4 %}
	<tr>
		<td>{{line['b_email']}}</td>
		<td>{{line['booking_agent_ID']}}</td>
		<td>{{line['profit']}}</td>
	</tr>
{% endfor %}
</table>

<h3>Most Frequent Customer: {{freq_customer['c_email']}}</h3>

<h2>Search for Customers' Purchases</h2>
<form action="/search_customer_purchases" method="POST">
	<label>Customer's Email</label>
	<input type="text" name = "c_email" placeholder="xxxxxx@gmail.com" required/> </br>
	<input type="submit" value = Search />
</form>


<a href="/logout">Logout</a>

</body>

<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
	.hide {
		display : none;
	}
</style>

</html>