<html>
<head>
</head>
<body>
<h1>Welcome {{email}}</h1>
<form action="/search_flights" method="POST">
	
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>


	<input type="submit" value = Search />
</form>

<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
</style>
{% if searches %}
	<h1>Flights</h1>
	<table>
		<th>Flight Number</th>
		<th>Departure Time</th>

	{% for line in searches %}
		<tr>
			<td>{{line['flight_num']}}</td>
			<td>{{line['departure_date_and_time']}}</td>

		</tr>
	{% endfor %}
	</table>
{% endif %}

<table>
	<th>Time</th>
	<th>Flight Number</th>
	<th>Departure Time</th>
	<th>Arrival Time</th>
	<th>Status</th>

{% for line in flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['departure_date_and_time']}}</td>
		<td>{{line['arrival_date_and_time']}}</td>
		<td>{{line['status']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>


</html>
