<html>
<head>
</head>
<body>
<h1>Welcome {{email}}</h1>
<h2>Search for available flights</h2>
<form action="/search_flights_BA" method="POST">
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>
	<input type="text" name = "departure_date" placeholder="departure date" required/> </br>
	<input type="text" name = "return_date" placeholder="return date"/> </br>
	<input type="submit" value = Search />
</form>

<h2>Search for flight statuses</h2>
<form action="/search_status_BA" method="POST">
	<input type="text" name = "airline_name" placeholder="Airline Name" required/> </br>
	<input type="text" name = "flight_num" placeholder="Flight #" required/> </br>
	<input type="text" name = "departure_date" placeholder="departure date" /> </br>
	<input type="text" name = "arrival_date" placeholder="arrival date" /> </br>
	<input type="submit" value = Search />
</form>

<table>
	<th>Time</th>
	<th>Flight Number</th>
	<th>Departure Time</th>
	<th>Arrival Time</th>
	<th>Status</th>

{% for line in flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['departure_date_and_time']}}</td>
		<td>{{line['arrival_date_and_time']}}</td>
		<td>{{line['status']}}</td>

	</tr>
{% endfor %}
</table>

<a href="/logout">Logout</a>

</body>

<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
</style>

</html>