<html>
<head>
</head>
<body>
<h2>Welcome {{email}}</h2>
<h2>Search for available flights</h2>
<form action="/search_flights" method="POST">
	<label>Departure Airline/City</label>
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<label>Arrival Airline/City</label>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>
	<label>Departure Date</label>
	<input type="date" name = "departure_date" placeholder="departure date" required/> </br>
	<label>Return Date</label>
	<input type="date" name = "return_date" placeholder="return date"/> 
	<label>optional (for round trips)</label></br>
	<input type="submit" value = Search />
</form>

<h2>Search for flight statuses</h2>
<form action="/search_status" method="POST">
	<label>Airline</label>
	<input type="text" name = "airline_name" placeholder="China Eastern" required/> </br>
	<label>Flight Number</label>
	<input type="text" name = "flight_num" placeholder="A1234567" required/> </br>
	<label>Departure Date</label>
	<input type="datetime-local" name = "departure_date" placeholder="departure date" /> </br>
	<label>Arrival Date</label>
	<input type="datetime-local" name = "arrival_date" placeholder="arrival date" /> </br>
	<input type="submit" value = Search />
</form>
<br>
<br>
<h2>Your booked flights</h2>
<table>
	<th>Time</th>
	<th>Flight Number</th>
	<th>Departure Time</th>
	<th>Arrival Time</th>
	<th>Status</th>

{% for line in flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['departure_date_and_time']}}</td>
		<td>{{line['arrival_date_and_time']}}</td>
		<td>{{line['status']}}</td>

	</tr>
{% endfor %}
</table>
<br>
<br>
<h3>Search for past purchases</h3>
<form action="/purchased_date_range_C" method = "POST">
	<label>Begin Date</label>
	<input type="datetime-local" name = "begin" placeholder="YYYY-MM-DD" required/> </br>
	<label>End Date</label>
	<input type="datetime-local" name = "end" placeholder="YYYY-MM-DD" required/>  </br>
	<input type="submit" value = Search />
</form>

</form>
<br>

<h2>{{title}}</h2>
<h3>Total Spending in the range {{default_range}}: {{total}}</h3>
<script src='https:cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

<canvas id="chart" width="600" heigh="500"></canvas>
	<script>
		//bar chart data
		var barData = {
			labels : [
				{% for item in labels %}
				"{{item}}",
				{% endfor %}
			],
			datasets: [{
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1",
				pointColor: "rgba(151,187,205,1)",
				data: [
					{% for item in values %}
					"{{item}}",
					{% endfor %}
				]
			}
		]
		}
	// get bar chart canvas
	var mychart = document.getElementById("chart").getContext("2d");
	steps = 10
	max = {{max}}

	//draw bar chart 
	new Chart(mychart).Bar(barData, {
		scaleOverride: true,
		scaleSteps: steps,
		scaleStepWidth: Math.ceil(max/steps),
		scaleStartValue: 0,
		scaleShowVerticalLines: true,
		scaleShowGrideLines: true,
		barShowStroke: true,
		scakeShowLabels: true
	}
	);

</script>

<a href="/logout">Logout</a>

</body>

<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
</style>

</html>