<html>
<head>
</head>
<body>
<h1>Welcome {{email}}</h1>
<h2>Search for available flights</h2>
<form action="/search_flights_BA" method="POST">
	<label>Departure Airline/City</label>
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<label>Arrival Airline/City</label>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>
	<label>Departure Date</label>
	<input type="date" name = "departure_date" placeholder="departure date" required/> </br>
	<label>Return Date</label>
	<input type="date" name = "return_date" placeholder="return date"/> 
	<label>optional (for round trips)</label></br>
	<input type="submit" value = Search />
</form>

<h2>Search for flight statuses</h2>
<form action="/search_status_BA" method="POST">
	<label>Airline</label>
	<input type="text" name = "airline_name" placeholder="China Eastern" required/> </br>
	<label>Flight Number</label>
	<input type="text" name = "flight_num" placeholder="A1234567" required/> </br>
	<label>Departure Date</label>
	<input type="datetime-local" name = "departure_date" placeholder="departure date" /> </br>
	<label>Arrival Date</label>
	<input type="datetime-local" name = "arrival_date" placeholder="arrival date" /> </br>
	<input type="submit" value = Search />
</form>

<h2>Booked Flights</h2>
<table>
	<th>Time</th>
	<th>Flight Number</th>
	<th>Departure Time</th>
	<th>Arrival Time</th>
	<th>Status</th>

{% for line in flights %}
	<tr>
		<td>{{line['name']}}</td>
		<td>{{line['flight_num']}}</td>
		<td>{{line['departure_date_and_time']}}</td>
		<td>{{line['arrival_date_and_time']}}</td>
		<td>{{line['status']}}</td>

	</tr>
{% endfor %}
</table>

<h3>Custom Commission Range</h3>
<form action="/earnings_date_range_BA" method = "POST">
	<label>Begin Date</label>
	<input type="datetime-local" name = "begin" placeholder="YYYY-MM-DD" required/> </br>
	<label>End Date</label>
	<input type="datetime-local" name = "end" placeholder="YYYY-MM-DD" required/>  </br>
	<input type="submit" value = Search />
</form>

<h3>Earnings</h3>
<h4>Commission: {{commission}}</h4>
<h4>Total Tickets booked: {{tickets}} </h4>
<h4>Average Commission: {{avg_commission}}</h4>

<br>
<h3>Top Five Customer Ticket Purchases in the Past Six Months</h3>
<script src='https:cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

<canvas id="chart1" width="600" height="250"></canvas>
	<script>
		//bar chart data
		var barData = {
			labels : [{% for customer in customers1 %}
				"{{customer}}",
				{% endfor %}],
			datasets: [{
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1",
				pointColor: "rgba(151,187,205,1)",
				data: [ {% for number in ticket_count %}
					"{{number}}",
					{% endfor %}]
			}]
		}
	// get bar chart canvas
	var mychart = document.getElementById("chart1").getContext("2d");
	steps = 5
	max = {{max1}}

	//draw bar chart 
	new Chart(mychart).Bar(barData, {
		scaleOverride: true,
		scaleSteps: steps,
		scaleStepWidth: Math.ceil(max/steps),
		scaleStartValue: 0,
		scaleShowVerticalLines: true,
		scaleShowGrideLines: true,
		barShowStroke: true,
		scakeShowLabels: true
	}
	);

</script>

<h3>Top Five Customer Commissions in the Past Year</h3>
<script src='https:cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'></script>

<canvas id="chart2" width="600" height="250"></canvas>
	<script>
		//bar chart data
		var barData = {
			labels : [{% for customer in customers2 %}
				"{{customer}}",
				{% endfor %}],
			datasets: [{
				fillColor: "rgba(151,187,205,0.2)",
				strokeColor: "rgba(151,187,205,1",
				pointColor: "rgba(151,187,205,1)",
				data: [ {% for commission in commissions %}
					"{{commission}}",
					{% endfor %}]
			}]
		}
	// get bar chart canvas
	var mychart = document.getElementById("chart2").getContext("2d");
	steps = 10
	max = {{max2}}

	//draw bar chart 
	new Chart(mychart).Bar(barData, {
		scaleOverride: true,
		scaleSteps: steps,
		scaleStepWidth: Math.ceil(max/steps),
		scaleStartValue: 0,
		scaleShowVerticalLines: true,
		scaleShowGrideLines: true,
		barShowStroke: true,
		scakeShowLabels: true
	}
	);

</script>





<a href="/logout">Logout</a>

</body>

<style type="text/css">
	table, th, td{
		border: 1px solid rgb(31, 0, 143);
	}
</style>

</html>