<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/project/templates/style.css" />
	<h1>Welcome to the Air Ticket Reservation System Website </h1><br>
</head>

<body style="background-color:rgb(123, 147, 214); text-align:center" >
<link rel="stylesheet" href="/project/templates/style.css" />
{% if not message %}
	<a href="/login_customer">Login as a customer</a><br>
	<a href="/register_customer">Register as a customer</a><br>
	<a href="/login_booking_agent">Login as a booking agent</a><br>
	<a href="/register_booking_agent">Register as a booking agent</a><br>
	<a href="/login_airline_staff">Login as an airline staff</a><br>
	<a href="/register_airline_staff">Register as an airline staff</a>

{% endif %}

<h2>Search for available flights</h2>
<form action="/search_flights_I" method="POST">
	<label>Departure Airline/City</label>
	<input type="text" name = "departure" placeholder="departure point" required/> </br>
	<label>Arrival Airline/City</label>
	<input type="text" name = "arrival" placeholder="arrival destination" required/> </br>
	<label>Departure Date</label>
	<input type="date" name = "departure_date" placeholder="departure date" required/> </br>
	<label>Return Date</label>
	<input type="date" name = "return_date" placeholder="return date"/> 
	<label>optional (for round trips)</label></br>
	<input type="submit" value = Search />
</form>
<br>
<h2>Search for flight statuses</h2>
<form action="/search_status_I" method="POST">
	<label>Airline</label>
	<input type="text" name = "airline_name" placeholder="China Eastern" required/> </br>
	<label>Flight Number</label>
	<input type="text" name = "flight_num" placeholder="A1234567" required/> </br>
	<label>Departure Date</label>
	<input type="datetime-local" name = "departure_date" placeholder="departure date" /> </br>
	<label>Arrival Date</label>
	<input type="datetime-local" name = "arrival_date" placeholder="arrival date" /> </br>
	<input type="submit" value = Search />
</form>
<br>

</body>

</html>
