<!DOCTYPE html>
<html>

<head>
	<link rel="stylesheet" href="/project/templates/style.css" />
	<h1>Welcome to the Air Ticket Reservation System Website </h1><br>
</head>

<body style="background-color:rgb(123, 147, 214); text-align:center" >
<link rel="stylesheet" href="/project/templates/style.css" />
{% if not message %}
	<a href="/login_customer">Login as a customer</a><br>
	<a href="/register_customer">Register as a customer</a><br>
	<a href="/login_booking_agent">Login as a booking agent</a><br>
	<a href="/register_booking_agent">Register as a booking agent</a><br>
	<a href="/login_airline_staff">Login as an airline staff</a><br>
	<a href="/register_airline_staff">Register as an airline staff</a>

{% endif %}

</body>

</html>
