<html>
<head>
</head>
<body style="text-align:center">
<form action="/registerAuth_booking_agent" method="POST">
    <h1>Register as a Booking Agent</h1>
    <label>Email</label>
	<input type="text" name = "email" placeholder="email" required/></br>
    <label>Password</label>
	<input type="password" name = "password" placeholder="password" required/></br>
    <label>Booking Agent ID</label>
	<input type="text" name = "booking_agent_ID" placeholder="booking agent ID" required/></br>
	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
