<html>
<head>
</head>
<body style="background-color:rgb(230, 144, 187); text-align:center">
<form action="/registerAuth_airline_staff" method="POST">
    <h1>Register as an Airline Staff</h1>
    <label>Username</label>
	<input type="text" name = "username" placeholder="JohnnyA" required/> </br>
    <label>Password</label>
	<input type="password" name = "password" placeholder="password" required/></br>
    <label>First Name</label>
    <input type="text" name = "first_name" placeholder="Johnny" required/></br>
    <label>Last Name</label>
	<input type="text" name = "last_name" placeholder="Appleseed" required/></br>
    <label>Date of Birth</label>
	<input type="text" name = "date_of_birth" placeholder="YYYY-MM-DD" required/></br>

	<input type="submit" value = Register />
	{% if error %}
		<p class="error"><strong>Error:</strong> {{error}}</p>
	{% endif %}
</form>
<a href="/">Go back</a>
</body>
</html>
